/* .header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
} */

.logo{
      font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 15px;
    margin-left: 25px;
}




.cart{
  cursor: pointer;
  font-size: 30px;
}

.active-header{
  border-radius: 15px;
}

.active-header:hover{
background-color: #273238;

}



