.roomTypes{
    /* background-image: url('../../../assets/images/slider-1.jpg'); */
    background-size: cover;
    color: black;
    text-align: center;
    height: 150px;
}


.btn-primary {
  background-color: #293339;

  border-radius: 15px;
}
/* Override Bootstrap states */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: white !important; /* Slightly darker for hover/active */
  color: #293339;

}





@font-face {
  font-family: Roboto ;
  src: url('/assets/fonts/Roboto/Roboto_Condensed-Regular.ttf');
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  font-weight: 700;
  color: white;
  font-family: Roboto;
}

.heading{
  font-size: 80px;
}

.available-rooms{
  background-color: white;

  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.bg-welcome{
  background-color: rgb(242, 244, 251);
  margin-top: 40px;
}

.bg-welcome h2{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
}

.bg-welcome p{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
  color: #6c757d;
}


.welcome-img{
  width: 100%;
  display: block;
  margin-block: 30px;
  border-radius: 8px;

}

.room{
  position: relative;
  overflow: hidden;
}
.room .room-content{
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;

  transition: opacity .5s, transform .5s;

}


.room .room-content h3{
  transform: translate(100%);
  transition: transform 1s;
}

.room .room-content p{
  transform: translate(100%);
  transition: transform 1s;
}

.room:hover .room-content h3{
   background-color: #333;
  padding: 10px;
  transform: translateX(0);
}

.room:hover .room-content p{

  transform: translateX(0);
}

.room:hover .room-content{
 opacity: 1;
 transform: rotate(360deg);
}

.room img{
  transition: transform 1s .5s;
}


.room:hover img{
  transform: scale(1.3);
}


.colored-button{
background-color: #293339;
}



